.portfolio {
  text-align: center;
}

.portfolio > h2 {
  font-size: 3em;
  margin-top: 80px;
}

.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}

.styledProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 80px 20px;
}

.styledProjects h3 {
  text-align: center;
  margin: 20px auto 0;
  font-weight: 500;
}

.card {
  position: relative;
  width: 240px;
  height: 340px;
  margin: 10px;
  background: blue;
  border-radius: 5px;
  border-bottom-left-radius: 140px;
  border-bottom-right-radius: 140px;
  box-shadow: 0 15px 0 rgb(194, 194, 194),
    inset 0 -15px 0 rgba(84, 81, 238, 0.25), 0 45px 0 rgba(94, 7, 116, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card::before {
  content: "";
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  filter: blur(5px);
}

.card:nth-child(3n) {
  background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}

.card:nth-child(3n + 1) {
  background: linear-gradient(to bottom, #24ff72, #9a4eff);
}
.card:nth-child(3n + 2) {
  background: linear-gradient(to bottom, #ffec61, #f321d7);
}

.icons {
  position: relative;
  width: 140px;
  height: 120px;
  background: rgb(83, 39, 165);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 0 rgba(84, 81, 238, 0.2),
    inset 0 -6px 0 rgba(255, 255, 255, 0.9);
}

.icons::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: -50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px rgb(83, 39, 165);
}

.icons::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: -50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 10px rgb(83, 39, 165);
}
.icons img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.contetnt {
  color: white;
  line-height: 1.5em;
}

.button {
  position: absolute;
  bottom: 10%;
  left: 28%;
  padding: 16px;
  border: 2px solid white;
  border-radius: 50%;
  transition: 200ms linear;
}

.button:hover {
  background-color: white;
  color: black;
}

.tags {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;
}

.tags p {
  color: white;
  padding: 4px 8px;
  background-color: rgb(4, 87, 241);
  margin-top: 4px;
  border-radius: 10px;
}
