nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  font-weight: 400;
  margin-left: 20px;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav h1 {
  cursor: pointer;
}

nav a:hover {
  border-color: white;
}
